  apiVersion: "v1"
  kind: "Secret"
  metadata: 
    name: "ssl-secret"
    namespace: "default"
  data: 
    dhparam.pem: "${SSL_DHPARAM}"
    flash2.local.crt: "${SSL_CERT}"
    flash2.local.key: "${SSL_KEY}"
